version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: achariya_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: achariya_lms
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: achariya_backend
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=achariya_lms
    depends_on:
      - db
    volumes:
      - ./backend:/app

volumes:
  postgres_data:
